* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;

}

body {

  background: #0b0417;

  color: white;

}

header {

  padding: 10px 8%;

  display: flex;

  justify-content: space-between;

  align-items: center;

  position: fixed;

  width: 100%;

  background: rgba(0, 0, 0, .4);

  backdrop-filter: blur(10px);

  z-index: 1000;

}

.logo {

  display: flex;

  align-items: center;

  gap: 15px;

}

.logo img {

  width: 90px;

}

.logo h1 {

  font-size: 35px;

  color: white;

}

nav a {

  color: white;

  text-decoration: none;

  margin-left: 30px;

  font-weight: 600;

  transition: .3s;

}

nav a:hover {

  color: #ffde00;

}

.hero {

  min-height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 120px 8%;

  gap: 70px;

}

.hero img {

  width: 420px;

}

.hero-text h1 {

  font-size: 70px;

  line-height: 80px;

}

.hero-text span {
  background: linear-gradient(90deg, #00e1ff, #ff00c8, #ffe600);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.hero-text p {

  margin: 30px 0;

  font-size: 20px;

  color: #d9d9d9;

}

.botao {

  background: linear-gradient(90deg, #ff00d4, #6c00ff);

  padding: 15px 35px;
  margin: 5px;
  border-radius: 40px;

  text-decoration: none;

  color: white;

  font-weight: 700;

}

section {
  padding: 60px 8%;

}

.titulo {
  margin-top: 50px;

  text-align: center;

  font-size: 50px;

  margin-bottom: 60px;

}

.cards {

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

  gap: 25px;

}

.card {

  background: #1a1030;

  padding: 30px;

  border-radius: 20px;

  border: 2px solid #32214f;

  transition: .4s;

}

.card:hover {

  transform: translateY(-10px);

}

.card h3 {

  margin-bottom: 15px;

  color: #ffe600;

}

.diferenciais {

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  gap: 25px;

}

.box {

  background: #1a1030;

  padding: 35px;

  border-radius: 20px;

}

.contatos {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.contato {
  width: 280px;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  color: white;
  transition: .4s;
  border: 2px solid rgba(255, 255, 255, .1);
}

.contato:hover {
  transform: translateY(-10px);
}

.contato h3 {
  margin-bottom: 15px;
  font-size: 25px;
}

.contato p {
  color: #ddd;
}

.whatsapp {
  background: linear-gradient(135deg, #25D366, #128C7E);
}

.instagram {
  background: linear-gradient(135deg, #833AB4, #FD1D1D, #FCAF45);
}

.youtube {
  background: linear-gradient(135deg, #FF0000, #C4302B);
}


#planta{
    padding: 80px 10%;
}

.planta-container{
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.planta-container img{
    width: 100%;
    max-width: 800px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
}

.descricao-planta{
    flex: 1;
    min-width: 300px;
}

.descricao-planta h3{
    color: #8E2CC2;
    margin-bottom: 15px;
}

.descricao-planta p{
    margin-bottom: 20px;
    line-height: 1.6;
}

.descricao-planta ul{
    list-style: none;
    padding: 0;
}

.descricao-planta li{
    margin-bottom: 10px;
    font-size: 17px;
}


footer {

  padding: 50px;

  text-align: center;

  background: black;

}

@media(max-width:900px) {

  .hero {

    flex-direction: column;

    text-align: center;

  }

  .hero-text h1 {

    font-size: 50px;

    line-height: 60px;

  }

  .hero img {

    width: 280px;

  }

}